@use './helpers/mixins' as *;
@use './helpers/extend';
@use './helpers/colors/colors' as *;

html :is(*::before, *::after, *) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    text-transform: capitalize;
}

:root {
    // Custom Property Variable

    // colors
    @include lightMode();

    // sizes
    @include appSize();
}

body {
    @extend %centerItems;
    font-family: RobotoCondensed, sans-serif;
    background-color: var(--clr-primary-bg);
    color: var(--clr-primary-heading);
    min-height: 100vh;
    padding-block: 5em;

    &.dark-mode {
        @include darkMode();
    }
}

// start main
.main-container {
    @include widthAdaptive(1000px, 90%);
    border-radius: var(--oneEm);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--oneEm);
    border-radius: var(--oneEm) var(--oneEm) 0 0;
    background-color: var(--clr-secondary-white);
    border: 2px solid var(--clr-secondary-blue);
    border-bottom: 0;
}

// logo
.logo {
    display: flex;
    align-items: center;
    gap: var(--halfEm);

    img {
        width: 30px;
    }

    .app-name {
        @include linearGradient($linearGradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
    }
}

// change them 
.change-mode {
    position: relative;
    width: 35px;
    height: 35px;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        transition: transform 300ms ease-in-out;
    }

    .moon {
        transform: translate(-50%, -50%) scale(1);

        &.active-mode {
            opacity: 0;
            transform: translate(-0, -0) scale(0);
        }
    }

    .sun {
        opacity: 0;
        transform: translate(-0, -0) scale(0);

        &.active-mode {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

// upload svg
.work-space {
    border: 2px solid var(--clr-secondary-blue);
    background-color: var(--clr-primary-card);
    border-radius: 0 0 var(--oneEm) var(--oneEm);
    padding: var(--twoEm);
    overflow-x: hidden;
    position: relative;

    &.add-optiones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        overflow: visible;
    }

    .error-file__type {
        position: absolute;
        right: -20em;
        top: var(--halfEm);
        background-color: var(--clr-secondary-shadow);
        color: var(--clr-secondary-white);
        padding: var(--twoEm) var(--threeEm);
        border-left: var(--halfEm) solid var(--clr-secondary-orange);
        backdrop-filter: blur(3px);
        font-size: small;

        &::before {
            content: url('./icons/error.svg');
            position: absolute;
            left: var(--halfEm);
            top: 50%;
            width: 25px;
            visibility: hidden;
            transform: translateY(-50%)
        }

        &.active-error {
            right: 0;
        }
    }
}

.container-upload__padding {
    &.active-padding {
        @include widthAdaptive(100%, 100%);
        grid-column: 2/span 3;
        padding: var(--twoEm) var(--oneEm);
    }
}

.container-upload {
    @include widthAdaptive(300px, 90%);
    margin: 0 auto;
    aspect-ratio: 1/1;
    @extend %centerItems;
    border-radius: var(--halfEm);
    background-color: var(--clr-primary-bg);
    border: 2px dashed var(--clr-secondary-blue);
    padding: var(--twoEm) var(--oneEm);

    img {
        width: 100px;
    }

    &.drag-active {
        border-style: solid;
    }
}

.browse-btn {
    padding: var(--oneEm) var(--twoEm);
    border: 2px solid var(--clr-secondary-blue);
    font-size: inherit;
    font-weight: bold;

    &:is(:hover, :focus) {
        background-color: var(--clr-secondary-blue);
        color: var(--clr-secondary-white);
    }

    &:active:hover {
        box-shadow: inset 0px 2px 10px var(--clr-secondary-shadow);
        background-color: transparent;
        color: inherit;
    }
}

// show optiones in add svg to app
.optiones-color__main {
    order: -1;
    @include borderDir(right);
    overflow-y: hidden;
    position: relative;
}


.recolor-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--halfEm);
    padding: var(--halfEm) var(--oneEm);
    @include borderDir(bottom);
    font-size: small;
    font-weight: bold;

    p {
        margin-right: 1em;
    }

    button {
        padding: var(--halfEm);

        img {
            width: 25px;
        }
    }
}

.tab {
    padding: var(--oneEm);
    @include showContent(0, hidden);
    position: absolute;
    transition: 300ms ease;
    // background-color: red;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 56.93px);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none
    }

    &.act-tab {
        @include showContent(1, visible);
    }

    .title-tab {
        margin-bottom: var(--oneEm);

        font: {
            size: 13px;
            weight: bold;
        }

        color: var(--clr-primary-text);
    }

    [type='color'] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;

        &::-webkit-color-swatch {
            border-radius: 6px;
            border: none;
        }
    }
}

.optiones-download__main {
    grid-column: 1/span 3;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: var(--oneEm);
    @include borderDir(top);

    .upload-new-svg {
        border: 2px solid var(--clr-secondary-blue);
        padding: var(--oneEm);
    }

    .dowload-main {
        background-color: var(--clr-secondary-blue);
        color: var(--clr-secondary-white);
        padding: var(--oneEm);
        display: flex;
        gap: var(--halfEm);
        align-items: center;
        position: relative;

        &:is(:hover, .btn-down-hover) {
            background-color: var(--clr-secondary-blur-hover);
        }

        img {
            height: 20px;
            transform: rotate3d(0, 0, -1, 180deg);

            &.act-rotate {
                transform: rotate3d(0, 10, -1, 180deg);
            }
        }

        &:hover img {
            transform: rotate3d(0, 10, -1, 180deg);
        }
    }
}

.drop-down-list {
    padding: var(--halfEm);
    background-color: var(--clr-primary-card);
    position: absolute;
    top: -4.5em;
    right: 16px;
    width: 124.99px;
    border-radius: var(--halfEm);
    border: 1px solid var(--clr-secondary-blue);
    text-align: center;

    @include showContent(0, hidden);

    &.act-drop-down-list {
        @include showContent(1, visible) {
            top: -6.7em;
        }
    }

    .png:hover .drop-left__custom,
    .drop-left__custom.active {
        @include showContent(1, visible) {
            right: 128px;
        }
    }

    li {
        border-radius: var(--halfEm);

        button {
            position: relative;
            height: 34.4px;
            width: 100%;

            &:focus {
                border: none;
                background-color: var(--clr-secondary-blue);
                color: var(--clr-secondary-white);
            }

            svg {
                position: absolute;
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
                color: inherit;
                width: 25px;
            }
        }

        &:hover {
            background-color: var(--clr-secondary-blue);
            color: var(--clr-secondary-white);
        }
    }
}

.drop-left__custom {
    position: absolute;
    top: 0;
    right: 110px;
    background-color: var(--clr-primary-card);
    border-radius: var(--halfEm);
    padding: var(--halfEm);
    border: 1px solid var(--clr-secondary-blue);
    font-size: small;
    color: var(--clr-primary-heading);
    font-weight: bold;
    text-align: center;

    @include showContent(0, hidden);


    .btn-custom__down li a {
        text-align: start;
        text-transform: lowercase;
    }

    .custom-size p {
        margin-top: var(--oneEm);
        display: block;
    }

    .input-custom {
        display: flex;
        align-items: center;
        gap: var(--halfEm);
        margin-block: var(--oneEm);
    }

    [type='number'] {
        width: 60px;
        height: 30px;
        border-radius: var(--halfEm);
        text-align: center;
        border: 1px solid var(--clr-secondary-blue);
        font-weight: bold;
        color: var(--clr-primary-heading);
        background-color: var(--clr-primary-card);
        appearance: textfield;
        -moz-appearance: textfield;
    }

    [type='number']:focus {
        box-shadow: 0 2px 5px 0 var(--clr-secondary-blue-shadow);
        outline: 2px solid var(--clr-secondary-blue);
    }

    [type='number']::-webkit-outer-spin-button,
    [type='number']::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }

    .btn-download__custom {
        background-color: var(--clr-secondary-blue);
        border-radius: var(--halfEm);
        color: var(--clr-secondary-white);
        width: 100%;
        height: 34px;

        &:is(:hover, :focus) {
            background-color: var(--clr-secondary-blur-hover);
        }
    }
}

.control-stroke {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: var(--oneEm);

    .current-color__svg {
        width: 30px;
        height: 30px;
        border: 2px solid var(--clr-secondary-blue);
        border-radius: var(--halfEm);
    }

    .stroke-ranges {
        flex: 1 0 0;
        display: grid;
        gap: var(--halfEm);
    }

    .range-content {
        position: relative;
    }

    .line-progress__range {
        position: absolute;
        left: 0;
        top: 10px;
        height: 4.7px;
        width: 50%;
        background-color: var(--clr-secondary-blue);
        border-radius: var(--halfEm);
    }

    [type='range'] {
        width: 100%;
        height: 4.5px;
        border-radius: var(--halfEm);
        appearance: none;
        outline-color: var(--clr-secondary-blue);
        outline-offset: var(--halfEm);
        background-color: var(--clr-primary-text);

        &::-webkit-slider-thumb {
            background-color: var(--clr-secondary-blue);
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            cursor: pointer;
            transition: 300ms ease;
        }

        &::-moz-range-thumb {
            background-color: var(--clr-secondary-blue);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            cursor: pointer;
            transition: 300ms ease;
            border: 0;
        }

        &::-webkit-slider-thumb:hover {
            box-shadow: 0 0 1px 6px hwb(220 36% 5% / 0.814);
        }

        &::-webkit-slider-thumb:active {
            box-shadow: 0 0 1px 8px hwb(220 36% 5% / 0.616);
        }

        &::-moz-range-thumb:hover {
            box-shadow: 0 0 1px 6px hwb(220 36% 5% / 0.814);
        }

        &::-moz-range-thumb:active {
            box-shadow: 0 0 1px 8px hwb(220 36% 5% / 0.616);
        }


    }
}

// color picker
.color-picker {
    height: 185px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: auto;

    &::before {
        // content: "";
        // position: absolute;
        // left: var(--x);
        // top: var(--y);
        // width: 20px;
        // height: 20px;
        // border: 6px solid var(--clr-secondary-blue);
        // border-radius: 50%;
        // box-shadow: 0 2px 5px 0 var(--clr-secondary-shadow);
        @include colorPickerCursor();
    }

    canvas {
        height: 100%;
        width: 100%;
        border: 2px solid var(--clr-secondary-blue);
        border-radius: var(--halfEm);
        cursor: pointer;
    }
}

.num-of__path {
    display: flex;
    gap: var(--halfEm);
    flex-wrap: wrap;

    .list-path {
        position: relative;
        width: 30px;
        height: 30px;

        &.act-list-colors .list-path-button+.color-picker-list {
            // display: block;
            visibility: visible;
        }
    }

    .list-path-button {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 3px;
        border: 2px solid var(--clr-secondary-blue);
    }

    .color-picker-list {
        width: 200px;
        height: 200px;
        // display: none;
        visibility: hidden;
        position: absolute;
        display: grid;
        place-items: center;
        z-index: 1;

        &:before {
            @include colorPickerCursor();
            z-index: 11;
        }
    }

    .color-picker {
        width: 100%;
        height: 100%;
    }
}